<div class="row">
  <% @articles.each do |article| %>
    <div class="tile one-post">
      <h5 class="title"><%= article.title %></h1>
      <p><%= article.created_at %></p>
      <p><%= article.thumbnail_tag %></p>
      <%= article.description %>
    </div>
  <% end %>
</div>
