%clearfix {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

body {
  color: $main-font;
  background-color: $background;
}

header {
  background-color: $header-background;
  padding: 20px;
  margin-bottom: 30px;

  h1 a {
    color: #FFF;
    &:hover {
      color: #EEE;
    }
  }

  h6 {
    color: #f9a825;
  }
}

.navbar {
  border: solid 1px #EEE;
  background-color: #FFF;
  border-radius: 2px;
  margin: 10px;

  ul li a {
    color: $main-font;
    border-radius: 0 !important;

    &:hover {
      background-color: #EEE;
    }
  }
}

.navbar-toggle:before {
  color: #95a5a6;
}

.banner {
  display: block;
  padding: 16px 0;
  background-color: #FFF;
  border: solid 1px #EEE;
  border-radius: 2px;
  margin: 0 10px 10px;
  @extend %clearfix;

  img {
    width: 100%;
    border-radius: 2px;
  }

  .message {
    margin-left: 16px;
    font-size: 38px;
  }
}

blockquote {
  margin: 10px 0;
}

.title {
  font-size: 32px;
  margin: 0 0 2px 0;
  padding-bottom: 10px;
  border-bottom: solid 1px #EEE;
}

.one-post {
  margin: 0 10px 10px;
  padding: 16px;
  background-color: #FFF;
  border: solid 1px #EEE;
  border-radius: 2px;
}

.read-more {
  display: block;
  background-color: #1ABC9C;
  border-radius: 2px;
  padding: 4px 0;
  text-align: center;
  color: #FFF;

  &:hover {
    background-color: lighten($green, 5%);
  }

  span {
    margin-left: 5px;
    color: darken($green, 20%);
  }
}

.post-time {
  color: #FFF;
  font-size: 14px;
  margin: 9px 0px 10px;
  display: inline-block;
  background-color: rgba(110, 116, 125, 0.66);
  padding: 3px 15px;
  border-radius: 2px;

  .fui-time {
    margin-right: 5px;
  }
}

.source {
  img {
    display: block;
    margin: 15px auto;
    border-radius: 2px;
    max-width: 100%;
  }
}

.post-image {
  width: 100%;
  max-height: 365px;
  overflow: hidden;

  img {
    width: 100%;
    border-radius: 2px;
  }
}

.post-description {
  margin: 20px 4px;
}

.ranking {
  padding: 8px 10px;

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 1px;
  }

  .media {
    background-color: #FFF;
    border: solid 1px #EEE;
    border-radius: 32px;
    height: 64px;

    &:hover {
      box-shadow: 1px 4px 10px rgba(#000, .08);
    }
  }

  .media-heading {
    font-size: 16px;
    margin: 0;
    color: $label-font;
  }

  .media-title {
    margin: 0 5px;
  }

  .media-body {
    color: $main-font;
    padding: 10px;
  }
}

.ranking-title {
  margin: 10px 0 20px;
  color: $sub-font;
}

.tw-btn {
  display: block;
  background-color: $tw-color;
  color: #FFF;
  font-size: 22px;
  text-align: center;
  margin: 10px 0;
  height: 50px;
  line-height: 50px;
  border-radius: 2px;

  img {
    height: 25px;
    margin-top: -5px;
  }

  .text {
    margin-left: 10px;
  }

  &:hover {
    background-color: lighten($tw-color, 8%);
    color: #FFF;
  }
}

.fb-btn {
  display: block;
  background-color: $fb-color;
  color: #FFF;
  font-size: 22px;
  text-align: center;
  margin: 10px 0;
  height: 50px;
  line-height: 50px;
  border-radius: 2px;

  img {
    height: 25px;
    margin-top: -6px;
  }

  .text {
    margin-left: 10px;
  }

  &:hover {
    background-color: lighten($fb-color, 10%);
    color: #FFF;
  }
}

footer {
  border-top: solid 1px #EEE;
  margin-top: 50px;
  padding: 10px;
  background-color: #FFF;
}
