%clearfix {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

body {
  color: $main-font;
  background-color: $background;
}

.header-container {
  background-color: $header-background;
  margin-bottom: 60px;
}

.header {
  height: 200px;
  line-height: 200px;

  h1 a {
    color: #FFF;
    &:hover {
      color: #EEE;
    }
  }

  h6 {
    color: #f9a825;
  }
}

.title {
  font-size: 32px;
  margin: 10px 0;
}

.one-post {
  margin-bottom: 10px;
  padding: 16px;
  background-color: #FFF;
  border: solid 1px #EEE;
  border-radius: 2px;
}

.post-time {
  color: $sub-font;
  font-size: 14px;
  margin-bottom: 6px;
  display: inline-block;

  .fui-time {
    margin-right: 5px;
  }
}

.post-image {
  width: 100%;
  height: 365px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.post-description {
  margin: 20px 10px;
}

.ranking {
  padding: 8px 16px;
}

.ranking-title {
  margin: 4px 0 30px 0;
}

.share-block {
  @extend %clearfix;
  margin: 30px 0 20px;

  .block {
    float: left;
    width: 50%;
  }

  .tw-btn {
    display: block;
    background-color: $tw-color;
    color: $white;
    font-size: 22px;
    text-align: center;
    margin: 0 40px;
    height: 50px;
    line-height: 50px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(#000, .3);

    &:hover {
      background-color: lighten($tw-color, 8%);
      box-shadow: 0 3px 10px rgba(#000, .2);
    }
  }

  .fb-btn {
    display: block;
    background-color: $fb-color;
    color: $white;
    font-size: 22px;
    text-align: center;
    margin: 0 40px;
    height: 50px;
    line-height: 50px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(#000, .3);

    &:hover {
      background-color: lighten($fb-color, 10%);
      box-shadow: 0 3px 10px rgba(#000, .2);
    }
  }
}
